body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    border: none;
    outline: none;
}

.tab-button.active, .tab-button:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.project h3 {
    margin-top: 0;
}

.project a {
    color: blue;
    text-decoration: underline;
}

.project-screenshot {
    max-width: 20%;
    height: auto;
}


#landscapePhotosCarousel {
    max-width: 800px;
    margin: 20px auto;
}

#wiki ul {
    padding: 0;
    list-style-type: none; /* Remove default bullet points */
}

#wiki li {
    background-color: #f9f9f9;  /* A light gray background for contrast */
    border: 1px solid #e1e1e1;  /* A border to clearly define each article link */
    padding: 10px;  /* Some internal spacing around the link */
    margin: 10px 0;  /* Space between each article link */
    border-radius: 5px;  /* Rounded corners for aesthetics */
}

#wiki li a {
    text-decoration: none;  /* Remove the default underlining of the link */
    color: blue;  /* Color of the link text */
    display: block;  /* Makes the whole area clickable */
}

#wiki li:hover {
    background-color: #e6e6e6;  /* Slightly darker background on hover for a subtle effect */
}

/* Wikipedia Article Photos */
.wiki-photos {
    margin-top: 20px;  /* Some space above the photos section */
    display: flex;
    justify-content: space-around;  /* Distribute photos with equal space around them */
    flex-wrap: wrap;  /* Allows photos to wrap to the next line on smaller screens */
}

.wiki-image {
    margin: 10px;  /* Margin around each photo for separation */
    max-width: 45%;  /* Limit width of images */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* A subtle shadow around each image */
    border-radius: 5px;  /* Rounded corners for aesthetics */
}